@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
}

.nav-bar {
    --_animationStartsAfter: 50vh;
    --_animationDistance: 200px;
    --_surfaceColorStart: transparent;
    --_surfaceColorEnd: hsl(0 50% 90% / 0.1);
    --_textColorStart: rgb(245, 245, 245);
    --_textColorEnd: rgb(245, 245, 245);

    @apply fixed z-50 font-light pt-4 pb-2 w-fit animate-sticky-nav;
    top: 0;
    right: 0;

    color: var(--_textColorStart);
    background-color: var(--_surfaceColorStart);

    border-radius: 100vw;
    backdrop-filter: blur(0.0rem);

    @supports (animation-timeline: view()) {
        animation-timeline: view();
        animation-range-start: calc(100vh + var(--_animationStartsAfter));
        animation-range-end: calc(100vh + var(--_animationStartsAfter) + var(--_animationDistance));
    }
}

.ham-nav-bar {

    @apply fixed z-50 font-light pt-4 pb-2 w-fit;

    top: 0.5rem;
    right: 0.5rem;

    color: rgb(245, 245, 245);
    background-color: hsl(0 50% 90% / 0.1);
    border-radius: 3rem;
    backdrop-filter: blur(0.35rem);
    box-shadow: 'inset 0 0 0.5rem hsla(0, 0%, 100%, 0.1), 0 0 0.75rem hsla(0, 0%, 0%, 0.3)';
}

.tham-inner {
    @apply bg-neutral-100
}

.menu-item::before {
    display: block;
    content: attr(data-title);
    @apply font-medium;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* Custom styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    padding: 3rem;
}

.close {
    position: absolute;
    top: 3rem;
    right: 4rem;
}

.modal-img {
    max-height: 80svh;
}